$color-main-gradient: linear-gradient(180deg, #0099ae, #00bf82 40%, #fff 0, #fff);
$color-main-gradient-play-mode: linear-gradient(180deg, #fd6a63, #feb46b 40%, #fff 0, #fff);
$color-gradient: linear-gradient(40deg, #00bf82, #0099ae);
$color-gradient-play-mode: linear-gradient(40deg, #ffd86f, #fc6262);
$color-main: #00bf82;
$color-main-text: #4f4f4f;
$color-main-text-gray: rgb(174, 189, 185);
$color-main-light: #ffffff;
