$color-main-gradient: linear-gradient(180deg, #0099ae, #00bf82 40%, #fff 0, #fff);
$color-main: #00bf82;
$color-main-text: #4f4f4f;
$color-main-text-gray: rgb(174, 189, 185);
$color-main-light: #ffffff;
