@import './basic-scss/normalize';
@import './basic-scss/fonts';
@import './basic-scss/const';
@import './basic-scss/mixins';
@import './basic-scss/wrappers';
@import './basic-scss/base';
@import './basic-scss/buttons';
@import './basic-scss/header';

#root {
  position: relative;
}

.cover-active {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: transparent;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.menu-toggle {
  margin-left: 20px;

  position: relative;
  z-index: 1000;
  cursor: pointer;

  @include media-max-910 {
    margin-left: 12px;
  }
}
.material-icons {
  font-size: 4.2rem;
  color: $color-main-text;
}
.menu-items-wrap {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: absolute;
  background: linear-gradient(40deg, #00bf82, #0099ae);
  width: 340px;

  top: 0;
  left: -340px;
  z-index: 100;
  transition: all ease 0.4s;
}
.opened {
  left: 0;
}
.menu-items {
  margin: 155px 0px;
  display: flex;
  flex-direction: column;
}
.menu-item {
  margin-bottom: 25px;
}
.menu-link {
  @include font(2.6rem, 2.6rem, 400);
  color: $color-main-light;

  &:hover {
    font-weight: 500;
  }
}
.active {
  text-decoration: underline;
  cursor: default;
}
.main {
  margin-top: 50px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-wrap {
  width: 330px;
  margin: 15px 20px;

  position: relative;

  @include media-max-1372 {
    width: 300px;
  }
  @include media-max-1060 {
    width: 250px;
  }
  @include media-max-910 {
    width: 218px;
    margin: 10px 12px;
  }
  @include media-max-768 {
    width: 176px;
  }
  @include media-max-640 {
    width: 168px;
  }
  @include media-max-424 {
    width: 256px;
  }
}

.card {
  border-radius: 6px;
  border: 2px solid #8ca39c;
  padding-top: 0.2px;
}

.card-top {
  background: $color-main-gradient;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px 15px;
  border-radius: 4px;

  @include media-max-1060 {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
.card__img-wrap {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 10px;
  background: $color-main-light;

  @include media-max-1060 {
    width: 140px;
    height: 140px;
  }
  @include media-max-910 {
    width: 120px;
    height: 120px;
  }
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.card-bottom {
  padding-bottom: 25px;
  text-align: center;

  @include media-max-1060 {
    padding-bottom: 15px;
  }
}
.card__title {
  @include media-max-1060 {
    @include font(2.2rem, 2.2rem, 500);
  }
  @include media-max-910 {
    @include font(2rem, 2rem, 500);
  }
}

.word-card {
  perspective: 1200px;

  .card {
    transform-style: preserve-3d;
    transform-origin: right;
    transition: all 0.8s;
  }

  .card-front,
  .card-back {
    backface-visibility: hidden;
  }
  .card-front {
    .card-bottom {
      @include media-max-910 {
        justify-content: start;
      }
    }
  }
  .card-back {
    position: absolute;
    transform: rotateY(180deg);
  }

  .card-top {
    background: transparent;
    padding: 0;
    margin-bottom: 25px;

    @include media-max-1060 {
      margin-bottom: 15px;
    }

    .img {
      border-radius: 5px;
    }
  }

  .card-bottom {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-max-910 {
      margin-left: 10px;
    }

    .rotate-btn {
      position: absolute;
      right: 0;
      margin-right: 10px;
      .material-icons {
        background: $color-main-light;
        color: $color-main-text-gray;

        @include media-max-1060 {
          @include font(3.2rem, 3.2rem);
        }
        @include media-max-910 {
          @include font(3rem, 3rem);
        }

        &:hover {
          color: $color-main;
        }
      }
    }
  }
}

.flipped {
  .card {
    transform: rotateY(180deg) translateX(-100%);
    transform-origin: left;
  }
  .card-back {
    bottom: 0;
  }
  .rotate-btn {
    display: none;
  }
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 20px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(40deg, #00bf82, #0099ae);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  border-radius: 3px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
