@import '../../../base-styles/mixins';

.category-page-title {
  text-align: center;
  @include font(4.6rem, 4.6rem, 500);
  margin-bottom: 30px;

  @include media-max-1479 {
    @include font(3.2rem, 3.2rem, 500);
  }
}
.rating {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
  height: 40px;
  overflow-x: hidden;
  line-height: 36px;
  font-size: 36px;
  margin-right: 20px;
  margin-left: 20px;
}
.star-error,
.star-success {
  flex-shrink: 0;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-size: 40px 40px;
}
.cards-container {
  // position: relative;
}
